    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    /* Anda bisa menambahkan gaya kustom di sini jika diperlukan */
    html, body, #root {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
